$primary-color: #2547a0;
$secondary-color: #a0a7b9;
$text-color: #ffffff;
$bg-color: #212020;
$bg-white: #ffffff;
$border-color: #dddddd;

$primary-hover-color: #1f3c8f;
$primary-active-color: #1a336f;
$secondary-hover-color: #8c95a9;
$secondary-active-color: #7a8495;

$font-family: "Pretendard Variable", Pretendard, -apple-system,
  BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  "Apple SD Gothic Neo", "Noto Sans KR", sans-serif;
$font-title: "Anton", sans-serif;
