@use "./variables" as v;
@use "./mixins" as m;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: v.$font-family;
  background-color: v.$primary-color;
  color: v.$text-color;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: v.$text-color;
}
