@use "../../styles/variables" as v;

main {
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 80px 40px;

    &:nth-child(odd) {
      background-color: v.$bg-white;
    }

    &:nth-child(even) {
      background-color: v.$bg-color;
    }
  }
}
